.body {
  margin: 0;
  font-family: helvetica Neue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #444851;
  color: #ffffff;
  min-height:100vh;
  font-size:15px;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (min-width: 1920px) {
  .body {
    font-size: 22px
  }
}